.vs/
CS/Griretrilr.QC3.CPP.Test/x64/
CS/Griretrilr.QC3.CPP/x64/
CS/Griretrilr.QC3.Test/bin/
CS/Griretrilr.QC3.Test/obj/
CS/Griretrilr.QC3/bin/
CS/Griretrilr.QC3/obj/
CS/packages/
CS/x64/
Rust/target/
vulkan_tutorial_rs/target/
vulkan_tutorial_rs/.idea/workspace.xml
